Django==1.9.2
django-crispy-forms==1.6.0
django-cuser==2014.9.28
git+https://github.com/django-haystack/django-haystack.git@f3dba1ef#egg=django-haystack
django-mptt==0.8.0
git+https://github.com/eedf/django-tagulous#egg=django-tagulous
django-tracking-fields==1.0.6
django-tracking2==0.3.1
elasticsearch==2.2.0
flake8==2.5.4
gunicorn==19.4.5
lxml==3.5.0
mccabe==0.4.0
pep8==1.7.0
psycopg2==2.6.1
pyflakes==1.0.0
requests==2.9.1
git+https://github.com/chrismattmann/tika-python.git@11aed4d1#egg=tika
urllib3==1.14
