{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags %}


{% block breadcrumbs %}

{{ block.super }}
<li class="active">Adhesions</li>

{% endblock breadcrumbs %}


{% block content %}

<div class="alert alert-danger" role="alert">
  ATTENTION !!! Ces chiffres sont publiés sous réserve de validité des informations exportées par le portail
  <a href="http//entrecles.eedf.fr">Entréclés</a>
</div>

{% crispy form %}

<div class="ct-chart ct-minor-seventh"></div>

<p id="info"></p>

{% endblock content %}


{% block css %}

{{ block.super }}
<link href="{% static 'core/chartist/chartist.min.css' %}" rel="stylesheet">
<style>
.ct-label {
  font-size: 1rem;
}
.ct-series-a .ct-line {
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 2px 2px;
}
.ct-series-b .ct-line {
  stroke: red;
  stroke-width: 2px;
}
</style>

{% endblock css %}


{% block js %}

{{ block.super }}
<script src="{% static 'core/chartist/chartist.min.js' %}"></script>
<script>
  var options = {
    showPoint: false,
    lineSmooth: false,
    axisX: {
      showGrid: false
    },
    axisY: {
    }
  };
  $.getJSON("{% url 'members:adhesions_data' %}?season={{ season }}{% if reference %}&reference={{ reference }}{% endif %}{% if committed != None %}&committed={{ committed|yesno:'on,off' }}{% endif %}", function(data) {
    new Chartist.Line('.ct-chart', data, options);
    $('#info').html(data['comment']);
  });
</script>

{% endblock js %}
