<!DOCTYPE html>
<html lang="fr">

{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'core/bootstrap3/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'core/style.css' %}" rel="stylesheet" type="text/css" media="all">
  <title>EEDF - Jeito</title>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <div class="main-logo"></div>
        {% if request.user.is_authenticated %}
          <hr>
          <div class="center-block">
            <span class="glyphicon glyphicon-user"></span>
            {{ request.user.first_name.title }}
            ({{ request.user.number }})
          </div>
          <div class="center-block">
            <a href="{% url 'core:logout' %}">
              <span class="glyphicon glyphicon-lock"></span>
              Déconnexion
            </a>
          </div>
        {% endif %}
      </div>
      <div class="col-sm-9 col-lg-10">
        <ol class="breadcrumb">
          {% block breadcrumbs %}
            <li><a href="{% url 'core:index' %}"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
          {% endblock breadcrumbs %}
        </ol>
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>

  <footer>
    <div class="bandeau">
      <div class="logo"></div>
    </div>
  </footer>

  <script src="{% static 'core/js/jquery-1.12.0.min.js' %}"></script>
  <script src="{% static 'core/bootstrap3/js/bootstrap.js' %}"></script>

</body>
</html>
